body {
    display: flex;
    flex-direction: column;
    height: 960px;
    background-color: lightcoral;
}

.buttonContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 10px;
}

.container {
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 700 px;
    width: 700 px;
    background-color: white;
    justify-content: space-around;
    /*border: 2px, solid, black;*/
   
}

.row {
    /*height: 50px;*/
    display: flex;
    /*border: 2px,solid,black;*/
    justify-content: space-between;
    
}

.column {
    /*width: 50px;*/
    display: block;
    /*border: 2px,solid,black;*/
}
/*
.grid {
    aspect-ratio: 1/1;
    flex: 1 1 6.25%;
    min-width: 0;
    min-height: 0;
        
}
*/
